#app {
    font-size: 1rem;
}

@media (min-width: 1200px) {
    .container-fluid {
        width: 90%;
    }
}

.row {
    margin-top: 5px;
}

.red-text {
    color: #f00;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* 将文本分散对齐 */
.dist-align {
    text-align: justify;
    text-align-last: justify;
    text-justify: distribute-all-lines;
}

/* 在小屏幕上将文本左对齐 */
@media (max-width: 768px) {
    .dist-align {
        text-align: left;
    }
}

/* 在bootstrap-select渲染结束前，不要显示原始的select */
select.form-control {
    display: none !important;
}

.keyword {
    margin: 5px 0;
}

/* 当文本太长时，避免溢出 */
.text-wrap {
    white-space: normal;
    word-break: break-all;
    text-align: left;
}

/* 论文列表 */
.paper-item {
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    border: 1px solid black;
    border-radius: 4px;
}

.paper-link {
    margin-right: 5px;
}

.paper-bibtex {
    line-height: normal;
}

.list-style-clear {
    list-style: none;
}

/* 相关链接 */
.related-link {
    margin: 0;
    padding: 0;
}

.related-link-item {
    display: inline-block;
    margin-right: 10px;
}

/* FAQ */
.faq-item {
    margin-top: 5px;
}

#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 30px;
}