<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DBLP & CCF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <style type="text/css">
        #app {
            font-size: 1rem;
        }

        .red-text {
            color: #f00;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        }

        /* 将文本分散对齐 */
        .dist-align {
            text-align: justify;
            text-align-last: justify;
            text-justify: distribute-all-lines;
        }

        /* 在小屏幕上将文本左对齐 */
        @media (max-width: 768px) {
            .dist-align {
                text-align: left;
            }
        }

        /* 在bootstrap-select渲染结束前，不要显示原始的select */
        select {
            display: none;
        }

        .keyword {
            margin: 5px 0;
        }

        /* 当文本太长时，避免溢出 */
        .text-wrap {
            white-space: normal;
            word-break: break-all;
            text-align: left;
        }

        /* 论文列表 */
        #paperList>li {
            line-height: 40px;
            margin-top: 5px;
            margin-bottom: 5px;
            padding-left: 20px;
            border: 1px solid black;
            border-radius: 4px;
        }

        .list-clear-style {
            list-style: none;
        }

        /* 相关链接 */
        .list-clear-other {
            margin: 0;
            padding: 0;
        }

        .list-clear-other li {
            display: inline-block;
            margin-right: 10px;
        }

        /* FAQ */
        .list li {
            margin-top: 5px;
        }

        .borderless {
            border: none;
        }

        #backToTopBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
        }

        footer {
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>

<body>
    <div id="app" class="container">
        <h1 class="text-center">面向CCF推荐目录的学术论文检索系统</h1>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle float-right badge badge-pill badge-primary"
                data-toggle="dropdown" aria-expanded="false">主题</a>
            <div class="dropdown-menu">
                <a id="themeLight" href="javascript:void(0)" class="dropdown-item">白色</a>
                <a id="themeDark" href="javascript:void(0)" class="dropdown-item">黑色</a>
            </div>
        </div>
        <h3 class="text-center">By <a href="https://github.com/hegongshan/CCF_Rec_List">Gongshan He and Zhihai He</a></h3>
        <div class="row">
            <label class="col-md-1 col-form-label dist-align">分类</label>
            <div class="col-md-3">
                <select id="category" class="form-control" multiple title="请选择分类">
                </select>
            </div>
            <label class="col-md-1 col-form-label dist-align">类型</label>
            <div class="col-md-3">
                <select id="type" class="form-control" multiple title="期刊 或 会议">
                    <option data-content="<span class='badge badge-pill badge-primary'>期刊</span>" value="journals">期刊
                    </option>
                    <option data-content="<span class='badge badge-pill badge-primary'>会议</span>" value="conf">会议
                    </option>
                </select>
            </div>
            <label class="col-md-1 col-form-label dist-align">级别</label>
            <div class="col-md-3">
                <select id="rank" class="form-control" multiple title="请选择级别">
                    <option data-content="<span class='badge badge-pill badge-primary'>CCF A</span>" value="A">CCF A
                    </option>
                    <option data-content="<span class='badge badge-pill badge-primary'>CCF B</span>" value="B">CCF B
                    </option>
                    <option data-content="<span class='badge badge-pill badge-primary'>CCF C</span>" value="C">CCF C
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 col-form-label dist-align">刊物</label>
            <div class="col-md-3">
                <select id="venue" class="form-control" multiple title="请选择刊物">
                </select>
            </div>
            <label class="col-md-1 col-form-label dist-align">年份</label>
            <div class="col-md-3">
                <input id="startYear" type="number" class="form-control" placeholder="开始年份" />
                <div class="year-feedback invalid-feedback"></div>
            </div>
            <label class="col-md-1 col-form-label text-center">&minus;</label>
            <div class="col-md-3">
                <input id="endYear" type="number" class="form-control" placeholder="结束年份" />
                <div class="year-feedback invalid-feedback"></div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 col-form-label dist-align">关键词</label>
            <div class="col-md-11">
                <input id="q" type="search" class="q form-control" placeholder="请输入关键词" />
                <div class="search-feedback invalid-feedback"></div>
                <div class="custom-control custom-switch">
                    <input id="queryStringInput" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="queryStringInput">显示查询字符串</label>
                    <span id="queryString" class="badge badge-primary text-wrap"></span>
                </div>
                <button id="addKeyword" type="button" class="btn btn-primary">&plus;</button>
                <button id="faq" type="button" class="btn btn-primary">?</button>
                <button id="search" type="button" class="btn btn-primary">搜索</button>
                <span id="tips"></span>
            </div>
        </div>
        <div class="row">
            <div id="result" class="col-md-12"></div>
        </div>
        <button id="backToTopBtn" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="回到顶部">↑</button>
        <div id="alert" class="modal" data-backdrop="static" tabindex="-1"></div>
        <footer></footer>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/art-template@4.13.2/lib/template-web.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    <script src="ccf_rec_list.js"></script>
    <script src="search.js"></script>
    <script id="responseTipsTemplate" type="text/html">
        共匹配到<strong class="red-text">{{count}}</strong>条记录
    </script>
    <script id="categoryTemplate" type="text/html">
        {{each categoryList}}
            {{set category = $value}}
            <option data-content="<span class='badge badge-pill badge-primary'>{{category.name}}</span>" value="{{category.name}}">{{category.name}}</option>
        {{/each}}
    </script>
    <script id="venueTemplate" type="text/html">
        {{each venueList}}
            {{set venue = $value}}
            <option data-content="
                <span class='badge badge-pill badge-primary'>{{venue.name}}</span>
                <small class='text-muted'>{{venue.type}}, CCF {{venue.rank}}</small>" 
                value="{{venue.url}}">{{venue.name}}</option>
        {{/each}}
    </script>
    <script id="keywordTemplate" type="text/html">
        <div class="input-group keyword">
            <div class="input-group-prepend">
                <select class="condition custom-select">
                    <option class="dropdown-item" value="and">AND</option>
                    <option class="dropdown-item" value="or">OR</option>
                </select>
            </div>
            <input type="search" class="q form-control" placeholder="请输入关键词"/>
            <div class="input-group-append">
                <button type="button" class="btn btn-danger remove-keyword">&minus;</button>
            </div>
            <div class="search-feedback invalid-feedback"></div>
        </div>
    </script>
    <script id="paperTemplate" type="text/html">
        <ul id="paperList" class="list-clear-style">
        {{each paperList}}
            {{set paper = $value}}
            <li>
                {{startPaperNumber + $index}}. 
                {{if paper.ccfRank}}
                <span class="badge badge-pill badge-primary">CCF {{paper.ccfRank}}</span>
                {{else}}
                <span class="badge badge-pill badge-success">No Rank</span>
                {{/if}}
                {{paper.firstAuthor}}, et al. 
                <strong style="font-weight:bold;">{{@paper.title}}</strong>, 
                {{paper.venue}}'{{paper.year}}, 
                <a href="{{paper.url}}">URL</a>
                <br/>
                <a style="text-decoration:underline;font-family:bold;" 
                    onclick="queryAbstract('{{paper.doi}}', '{{paper.title}}', '#{{paper.abstractId}}')">Abstract</a>
                <br/>
                <span id="{{paper.abstractId}}tips"></span>
                <p id="{{paper.abstractId}}"></p>
            </li>
        {{/each}}
        </ul>

        <!-- 分页 -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {{if pageInfo.currentPage != pageInfo.firstPage}}
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" onclick="updatePaperList('{{pageInfo.previousPage}}')">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {{/if}}

            {{each pageInfo.pageList}}
                {{set page = $value}}
                {{if pageInfo.currentPage == page}}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{page}}</span>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" onclick="updatePaperList('{{page}}')">{{page}}</a>
                </li>
                {{/if}}
            {{/each}}

            {{if pageInfo.currentPage != pageInfo.lastPage}}
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" onclick="updatePaperList('{{pageInfo.nextPage}}')">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {{/if}}
                <li class="page-item">
                    <select id="pageSizeSelect" class="custom-select">
                    {{each pageInfo.pageSizeList}}
                        {{set size = $value}}
                        {{if size == pageInfo.pageSizeStr}}
                        <option value="{{size}}" selected>{{size}}篇/页</option>
                        {{else}}
                        <option value="{{size}}">{{size}}篇/页</option>
                        {{/if}}
                    {{/each}}
                    </select>
                </li>
            </ul>
        </nav>
    </script>
    <script id="footerTemplate" type="text/html">
        <!-- 相关链接 -->
        <div class="list-clear-style list-clear-other">
            <ul>
                <li><a href="https://www.ccf.org.cn/Academic_Evaluation/By_category/">中国计算机学会推荐国际学术会议和期刊目录</a></li>
                <li><a href="https://www.ccf.org.cn/ccftjgjxskwml/">计算领域高质量科技期刊分级目录</a></li>
                <li><a href="https://dblp.uni-trier.de/">DBLP</a></li>
                <li><a href="https://scholar.google.com/">Google Scholar</a></li>
                <li><a href="https://ieeexplore.ieee.org/">IEEE Xplore</a></li>
                <li><a href="https://dl.acm.org/">ACM Digital Library</a></li>
                <li><a href="https://arxiv.org/">arXiv</a></li>
            </ul>
        </div>
        Copyright &copy; {{year.start}} &minus; {{year.current}} Gongshan He and Zhihai He All Rights Reserved.
    </script>
    <script id="loadingTipsTemplate" type="text/html">
        <img src="loading.gif" width="30" height="30" style="vertical-align: middle;"/>
    </script>
    <script id="alertTemplate" type="text/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{@ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </script>
    <script id="faqTemplate" type="text/html">
        <ol class="text-wrap list">
            <li>
                <strong>为什么返回结果不全？</strong><br>
                答：原因可能有多种。<br>
                第一，DBLP只支持返回1万条数据，过于常见的关键词有可能超过该范围；<br>
                第二，DBLP只支持前缀匹配，不支持后缀匹配。例如，关键词“dataloader”无法匹配“mmdataloader”；<br>
                第三，部分刊物未被DBLP收录。
            </li>
            <li>
                <strong>如何理解"A" AND "B" OR "C"？</strong><br>
                答：当使用多个关键词进行查询时，OR的优先级更高。换句话说，"A" AND "B" OR "C"实际上是"A" AND ("B" OR "C")。
            </li>
        </ol>
    </script>
    <script type="text/javascript">
        // 全局变量
        let isDarkTheme = false;

        function updateVenue(currentSelector, previousVals, selectpickerExtendedOptions) {
            let categoryVals = $("#category").val();
            let typeVals = $("#type").val();
            let rankVals = $("#rank").val();
            let $venue = $("#venue");

            // 如果三者均没有值，则禁用venue
            if (categoryVals.length == 0 && typeVals.length == 0 && rankVals.length == 0) {
                $venue.prop("disabled", true);
                $venue.selectpicker("destroy");
                $venue.selectpicker(selectpickerExtendedOptions);
                return;
            }

            // 如果该元素当前和之前均没有值，则无需更新venue
            if ($(currentSelector).val().length == 0 && previousVals[currentSelector].length == 0) {
                return;
            }

            // 更新上一次选中的值
            previousVals[currentSelector] = $(currentSelector).val();

            // 清空列表
            $venue.prop("disabled", false);
            $venue.empty();

            // 重新填充列表
            let venueList = [];
            let categoryList = {};
            if (categoryVals.length == 0) {
                categoryList = CATEGORY_LIST;
            } else {
                // 将选择的分类转换为JSON对象
                categoryVals.forEach(function (element, index) {
                    categoryList[element] = "";
                });
            }
            // 根据分类过滤
            for (let category in categoryList) {
                for (let venueDBLPUrl in CATEGORY_LIST[category]) {
                    // 根据类型过滤
                    if (!isTypeMatch(venueDBLPUrl, typeVals)) {
                        continue;
                    }

                    // 根据级别过滤
                    if (!isRankMatch(venueDBLPUrl, rankVals)) {
                        continue;
                    }

                    venueList.push({
                        url: venueDBLPUrl,
                        name: CATEGORY_LIST[category][venueDBLPUrl].venue,
                        type: venueDBLPUrl.startsWith("journals") ? "期刊" : "会议",
                        rank: CATEGORY_LIST[category][venueDBLPUrl].rank
                    });
                }
            }

            let venueHtml = template.render($("#venueTemplate").html(), {
                venueList: venueList,
            });
            $venue.html(venueHtml);
            $venue.selectpicker("destroy");
            $venue.selectpicker(selectpickerExtendedOptions);
        }

        function updateTheme() {   
            let darkColor = "#87ceeb";
            if (isDarkTheme) {
                $("body").css({
                    "background-color": "#333",
                    "color": "#fff"
                });
                $(".btn-primary, .page-item.active .page-link").css({
                    "background-color": darkColor,
                    "border-color": darkColor
                });
                $(".badge-primary").css("background-color", darkColor);
                $("a").css("color", darkColor);
                $("a.badge-primary, a.dropdown-item").css("color", "");
            } else {
                // 清空黑色主题增加的css样式
                $("body").css({
                    "background-color": "",
                    "color": ""
                });
                $(".btn-primary, .page-item.active .page-link").css({
                    "background-color": "",
                    "border-color": ""
                });
                $(".badge-primary").css("background-color", "");
                $("a").css("color", "")
            }
        }

        function updatePaperList(currentPageStr = '1') {
            let tips = template.render($("#responseTipsTemplate").html(), {
                count: PAGINATION.paperList.length,
            });
            $("#tips").html(tips);

            // 如果没有匹配的论文，则直接返回
            if (PAGINATION.paperList.length == 0) {
                return;
            }

            // currentPage从1开始，其索引为currentPage - 1
            let currentPage = parseInt(currentPageStr);

            // 显示全部的论文
            if (PAGINATION.pageSizeStr == "All") {
                PAGINATION.pageSize = PAGINATION.paperList.length;
            } else {
                PAGINATION.pageSize = parseInt(PAGINATION.pageSizeStr);
            }

            // 计算总页数和页列表
            let totalPage = Math.floor((PAGINATION.paperList.length + PAGINATION.pageSize - 1) / PAGINATION.pageSize);
            PAGINATION.pageList = Array.from({ length: totalPage }, (_, index) => index + 1);

            // 计算开始论文索引和结束论文索引
            let startPaperIndex = (currentPage - 1) * PAGINATION.pageSize;
            let endPaperIndex = Math.min(currentPage * PAGINATION.pageSize, PAGINATION.paperList.length);

            // 计算开始页码和结束页码
            let startPageIndex;
            if (currentPage % PAGINATION.navigatePages == 0) {
                startPageIndex = parseInt((currentPage - 1) / PAGINATION.navigatePages) * PAGINATION.navigatePages;
            } else {
                startPageIndex = Math.floor((currentPage - 1) / PAGINATION.navigatePages) * PAGINATION.navigatePages;
            }
            let endPageIndex = Math.min(startPageIndex + PAGINATION.navigatePages, PAGINATION.pageList.length);

            // 渲染分页代码
            let paperHtml = template.render($("#paperTemplate").html(), {
                paperList: PAGINATION.paperList.slice(startPaperIndex, endPaperIndex),
                startPaperNumber: startPaperIndex + 1,

                pageInfo: {
                    firstPage: 1,
                    lastPage: totalPage,
                    pageList: PAGINATION.pageList.slice(startPageIndex, endPageIndex),

                    previousPage: currentPage - 1,
                    currentPage: currentPage,
                    nextPage: currentPage + 1,

                    pageSizeList: ["10", "20", "50", "100", "All"],
                    pageSizeStr: PAGINATION.pageSizeStr // 处理All
                }
            });
            $("#result").html(paperHtml);

            // 更新主题样式
            updateTheme();
        }

        $(function () {
            // 版权信息
            let footerHtml = template.render($("#footerTemplate").html(), {
                year: {
                    start: 2022,
                    current: new Date().getFullYear()
                },
            });
            $("footer").html(footerHtml);

            let $category = $("#category");
            let $type = $("#type");
            let $rank = $("#rank");
            let $venue = $("#venue");

            // 填充分类
            let categoryList = [];
            for (let venueDBLPUrl in CATEGORY_LIST) {
                categoryList.push({ "name": venueDBLPUrl });
            }
            let categoryHtml = template.render($("#categoryTemplate").html(), {
                categoryList: categoryList,
            });
            $category.html(categoryHtml);

            // bootstrap-select初始化
            let selectpickerOptions = {
                actionsBox: true,
                selectAllText: "全选",
                deselectAllText: "取消全选",
                noneResultsText: "未找到匹配的结果"
            };
            let selectpickerExtendedOptions = Object.assign({}, selectpickerOptions, {
                liveSearch: true,
                selectedTextFormat: "count > 3",
                countSelectedText: "选择了{0}项"
            });
            $category.selectpicker(selectpickerExtendedOptions);
            $type.selectpicker(selectpickerOptions);
            $rank.selectpicker(selectpickerOptions);
            $venue.prop("disabled", true);
            $venue.selectpicker(selectpickerExtendedOptions);

            var previousVals = {
                "#category": [],
                "#type": [],
                "#rank": []
            };
            $category.on("hidden.bs.select", function () {
                updateVenue("#category", previousVals, selectpickerExtendedOptions);
            });
            $type.on("hidden.bs.select", function () {
                updateVenue("#type", previousVals, selectpickerExtendedOptions);
            });
            $rank.on("hidden.bs.select", function () {
                updateVenue("#rank", previousVals, selectpickerExtendedOptions);
            });

            // 主题切换
            $("#themeLight").click(function () {
                isDarkTheme = false;
                updateTheme();
            });
            $("#themeDark").click(function () {
                isDarkTheme = true;
                updateTheme();
            });

            // 添加和删除新关键词
            $("#addKeyword").click(function () {
                $(".custom-switch").before($("#keywordTemplate").html());
            });
            $("body").on("click", ".remove-keyword", function () {
                $(this).parent().parent().remove();
            });

            // 搜索
            $("#search").click(function () {
                // 重置pageSize，避免影响不同查询
                PAGINATION.pageSizeStr = "10";
                search(updatePaperList);
            });
            $("#q").keydown(function (event) {
                // 重置pageSize，避免影响不同查询
                PAGINATION.pageSizeStr = "10";
                if (event.keyCode == 13) {
                    search(updatePaperList);
                }
            });

            // 选择pageSize
            $("body").on("change", "#pageSizeSelect", function () {
                let oldPageSize = PAGINATION.pageSize;

                PAGINATION.pageSizeStr = $(this).val();

                // 避免不必要的页面更新操作
                if (PAGINATION.paperList.length <= oldPageSize
                    && (PAGINATION.pageSizeStr == "All"
                        || PAGINATION.paperList.length <= parseInt(PAGINATION.pageSizeStr))) {
                    return;
                }

                updatePaperList();
            });

            // 常见问题
            $("#faq").click(function () {
                let faqHtml = template.render($("#alertTemplate").html(), {
                    title: "常见问题",
                    message: $("#faqTemplate").html()
                });
                let $alert = $("#alert");
                $alert.html(faqHtml);
                $alert.modal();
            });

            // 回到顶部
            let $backToTopBtn = $("#backToTopBtn");
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $backToTopBtn.fadeIn();
                } else {
                    $backToTopBtn.fadeOut();
                }
            });
            $backToTopBtn.click(function () {
                $("html, body").animate({scrollTop : 0}, 300);
                return false;
            });
            $backToTopBtn.tooltip()
        });
    </script>
</body>

</html>