<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>DBLP & CCF</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="Description">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!-- 外部css -->
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">
    <!-- 自定义css -->
    <link rel="stylesheet" href="./css/common.css">
    <link rel="stylesheet" href="./css/dark-theme.css">
</head>

<body>
    <div id="app" class="container">
        <h1 class="text-center">面向CCF推荐目录的学术论文检索系统</h1>
        <div class="dropdown">
            <a href="javascript:void(0)" class="dropdown-toggle float-right badge badge-pill badge-primary"
                data-toggle="dropdown" aria-expanded="false">主题</a>
            <div class="dropdown-menu theme-menu">
                <a id="themeLight" href="javascript:void(0)" class="dropdown-item theme-item">白色</a>
                <a id="themeDark" href="javascript:void(0)" class="dropdown-item theme-item">黑色</a>
            </div>
        </div>
        <h3 class="text-center">By <a href="https://github.com/hegongshan/CCF_Rec_List">Gongshan He and Zhihai He</a></h3>
        <div class="row">
            <label class="col-md-1 col-form-label dist-align">分类</label>
            <div class="col-md-3">
                <select id="category" class="form-control" multiple title="请选择分类">
                </select>
            </div>
            <label class="col-md-1 col-form-label dist-align">类型</label>
            <div class="col-md-3">
                <select id="type" class="form-control" multiple title="期刊 或 会议">
                    <option data-content="<span class='badge badge-pill badge-primary'>期刊</span>" value="journals">期刊
                    </option>
                    <option data-content="<span class='badge badge-pill badge-primary'>会议</span>" value="conf">会议
                    </option>
                </select>
            </div>
            <label class="col-md-1 col-form-label dist-align">级别</label>
            <div class="col-md-3">
                <select id="rank" class="form-control" multiple title="请选择级别">
                    <option data-content="<span class='badge badge-pill badge-primary'>CCF A</span>" value="A">CCF A
                    </option>
                    <option data-content="<span class='badge badge-pill badge-primary'>CCF B</span>" value="B">CCF B
                    </option>
                    <option data-content="<span class='badge badge-pill badge-primary'>CCF C</span>" value="C">CCF C
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 col-form-label dist-align">刊物</label>
            <div class="col-md-3">
                <select id="venue" class="form-control" multiple title="请选择刊物">
                </select>
            </div>
            <label class="col-md-1 col-form-label dist-align">年份</label>
            <div class="col-md-3">
                <input id="startYear" type="number" class="form-control" placeholder="开始年份" />
                <div class="year-feedback invalid-feedback"></div>
            </div>
            <label class="col-md-1 col-form-label text-center">&minus;</label>
            <div class="col-md-3">
                <input id="endYear" type="number" class="form-control" placeholder="结束年份" />
                <div class="year-feedback invalid-feedback"></div>
            </div>
        </div>
        <div class="row">
            <label class="col-md-1 col-form-label dist-align">关键词</label>
            <div class="col-md-11">
                <input id="q" type="search" class="q form-control" placeholder="请输入关键词" />
                <div class="search-feedback invalid-feedback"></div>
                <div class="custom-control custom-switch">
                    <input id="queryStringInput" type="checkbox" class="custom-control-input">
                    <label class="custom-control-label" for="queryStringInput">显示查询字符串</label>
                    <span id="queryString" class="badge badge-primary text-wrap"></span>
                </div>
                <button id="addKeyword" type="button" class="btn btn-primary">&plus;</button>
                <button id="faq" type="button" class="btn btn-primary">?</button>
                <button id="search" type="button" class="btn btn-primary">搜索</button>
                <span id="tips"></span>
            </div>
        </div>
        <div class="row">
            <div id="result" class="col-md-12"></div>
        </div>
        <button id="backToTopBtn" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="回到顶部">↑</button>
        <div id="alert" class="modal" data-backdrop="static" tabindex="-1"></div>
        <footer>
            <!-- 相关链接 -->
            <div>
                <ul class="related-link list-style-clear">
                    <li class="related-link-item"><a href="https://www.ccf.org.cn/Academic_Evaluation/By_category/">中国计算机学会推荐国际学术会议和期刊目录</a></li>
                    <li class="related-link-item"><a href="https://www.ccf.org.cn/ccftjgjxskwml/">计算领域高质量科技期刊分级目录</a></li>
                    <li class="related-link-item"><a href="https://dblp.uni-trier.de/">DBLP</a></li>
                    <li class="related-link-item"><a href="https://scholar.google.com/">Google Scholar</a></li>
                    <li class="related-link-item"><a href="https://ieeexplore.ieee.org/">IEEE Xplore</a></li>
                    <li class="related-link-item"><a href="https://dl.acm.org/">ACM Digital Library</a></li>
                    <li class="related-link-item"><a href="https://arxiv.org/">arXiv</a></li>
                </ul>
            </div>
            <div id="copyright">

            </div>
        </footer>
    </div>
    <!-- 外部依赖 -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/art-template/4.13.2/lib/template-web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
    <!-- 自定义脚本 -->
    <script src="./js/util.js"></script>
    <script src="./js/ccf_rec_list.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/index.js"></script>
    <!-- 模板信息 -->
    <script id="responseTipsTemplate" type="text/html">
        共匹配到<strong class="red-text">{{count}}</strong>条记录
    </script>
    <script id="categoryTemplate" type="text/html">
        {{each categoryList}}
            {{set category = $value}}
            <option data-content="<span class='badge badge-pill badge-primary'>{{category.name}}</span>" value="{{category.name}}">{{category.name}}</option>
        {{/each}}
    </script>
    <script id="venueTemplate" type="text/html">
        {{each venueList}}
            {{set venue = $value}}
            <option data-content="
                <span class='badge badge-pill badge-primary abbr'>{{venue.name}}</span>
                <span style='display: none'>{{venue.fullname}}</span>
                <small class='text-muted'>{{venue.type}}, CCF {{venue.rank}}</small>" 
                value="{{venue.url}}">{{venue.name}}</option>
        {{/each}}
    </script>
    <script id="keywordTemplate" type="text/html">
        <div class="input-group keyword">
            <div class="input-group-prepend">
                <select class="condition custom-select">
                    <option class="dropdown-item" value="and">AND</option>
                    <option class="dropdown-item" value="or">OR</option>
                </select>
            </div>
            <input type="search" class="q form-control" placeholder="请输入关键词"/>
            <div class="input-group-append">
                <button type="button" class="btn btn-danger remove-keyword">&minus;</button>
            </div>
            <div class="search-feedback invalid-feedback"></div>
        </div>
    </script>
    <script id="paperTemplate" type="text/html">
        <ul class="list-style-clear">
        {{each paperList}}
            {{set paper = $value}}
            <li class="paper-item">
                <div>
                    {{startPaperNumber + $index}}. 
                    {{if paper.ccfRank}}
                    <span class="badge badge-pill badge-primary">CCF {{paper.ccfRank}}</span>
                    {{else}}
                    <span class="badge badge-pill badge-success">No Rank</span>
                    {{/if}}
                    {{paper.firstAuthor}}, et al. 
                    <strong style="font-weight:bold;">{{@paper.title}}</strong>, 
                    {{paper.venue}}'{{paper.year}}, 
                    <a href="{{paper.url}}">URL</a>
                </div>
                <div>
                    <a href="javascript:void(0)" class="dropdown-toggle paper-link" onclick="getAbstract('{{paper.doi}}', '{{paper.title}}', '#{{paper.id}}')">Abstract</a>
                    <a href="javascript:void(0)" class="dropdown-toggle paper-link" onclick="getBibTex('{{paper.key}}', '#{{paper.id}}')">BibTex</a>
                </div>
                <div>
                    <span id="{{paper.id}}Tips"></span>
                    <p id="{{paper.id}}Abstract"></p>
                    <pre id="{{paper.id}}BibTex" class="paper-bibtex"></pre>
                </div>
            </li>
        {{/each}}
        </ul>

        <!-- 分页 -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
            {{if pageInfo.currentPage != pageInfo.firstPage}}
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Previous" onclick="updatePaperList('{{pageInfo.previousPage}}')">
                        <span aria-hidden="true">上一页</span>
                    </a>
                </li>
            {{/if}}

            {{each pageInfo.pageList}}
                {{set page = $value}}
                {{if pageInfo.currentPage == page}}
                <li class="page-item active" aria-current="page">
                    <span class="page-link">{{page}}</span>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" onclick="updatePaperList('{{page}}')">{{page}}</a>
                </li>
                {{/if}}
            {{/each}}

            {{if pageInfo.currentPage != pageInfo.lastPage}}
                <li class="page-item">
                    <a class="page-link" href="javascript:void(0)" aria-label="Next" onclick="updatePaperList('{{pageInfo.nextPage}}')">
                        <span aria-hidden="true">下一页</span>
                    </a>
                </li>
            {{/if}}
                <li class="page-item">
                    <select id="pageSizeSelect" class="custom-select">
                    {{each pageInfo.pageSizeList}}
                        {{set size = $value}}
                        {{if size == pageInfo.pageSizeStr}}
                        <option value="{{size}}" selected>{{size}}篇/页</option>
                        {{else}}
                        <option value="{{size}}">{{size}}篇/页</option>
                        {{/if}}
                    {{/each}}
                    </select>
                </li>
            </ul>
        </nav>
    </script>
    <script id="copyrightTemplate" type="text/html">
        Copyright &copy; {{year.start}} &minus; {{year.current}} Gongshan He and Zhihai He All Rights Reserved.
    </script>
    <script id="loadingTipsTemplate" type="text/html">
        <img src="./img/loading.gif" width="30" height="30" style="vertical-align: middle;"/>
    </script>
    <script id="alertTemplate" type="text/html">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{@ message }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div>
    </script>
    <script id="faqTemplate" type="text/html">
        <ol class="text-wrap">
            <li class="faq-item">
                <strong>为什么返回结果不全？</strong><br>
                答：原因可能有多种。<br>
                第一，DBLP只支持返回1万条数据，过于常见的关键词有可能超过该范围；<br>
                第二，DBLP只支持前缀匹配，不支持后缀匹配。例如，关键词“dataloader”无法匹配“mmdataloader”；<br>
                第三，部分刊物未被DBLP收录。
            </li>
            <li class="faq-item">
                <strong>如何理解"A" AND "B" OR "C"？</strong><br>
                答：当使用多个关键词进行查询时，OR的优先级更高。换句话说，"A" AND "B" OR "C"实际上是"A" AND ("B" OR "C")。
            </li>
        </ol>
    </script>
</body>

</html>